body { 
    margin: 0px;
    -webkit-text-size-adjust: 100%;
    background-color: silver;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 68px;
    z-index: 100;
    margin: 0 auto;
    display: flex;
    background-color: cyan;
    justify-content: center;
    align-items: center;/* 縦位置の調整 */
}
ul{
    list-style: none;
    padding: 0;
}
#header_list{
    font-size: large;
    display: flex;
    justify-content: center;
    margin: 0 0;
}
.list_items{
    padding: 10px 30px;
}
.list_items a{
    text-decoration: none;
}
a:link,a:visited{
    color: black;
}
#cover{
    margin-top: 68px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    background-image: url(pictures/yama.png);
    height: calc(100vh - 68px);
    background-size: cover;
    background-position: center;
}
#cover h1{
    margin-top: 10%;
}
section{
    margin: 0 auto;
}
table {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    font-size: 16pt;
    text-align: left;
}
.core{
    padding: 20px 20px;
    text-align: center;
}
h2{
    text-align: center;
    font-size: 30pt;
    display: flex;
    align-items: center;/* 縦位置の調整 */
    margin-top: 50px;
}

h2::before,h2::after {
    content: '';
    flex-grow: 1;/* 余白を分け与える */
    height: 5px;
    background: green;
}

/* 見出しの文字と横棒の間隔を開ける */
h2::before {
    margin-right: 2%;
}

h2::after {
    margin-left: 2%;
}

/*  */
td{
    padding-left: 30px;
}
tr{
    padding: 10px 10px;
}
.work_content{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    align-items: flex-start; 
}
.work_headline{
    height: 40px;
    display: flex;
    vertical-align: middle;
    /* justify-content: center; */
}
.work_headline h3{
    /* height: 35px; */
    margin: auto auto 0 0;
}
.work_headline p{
    /* height: 35px; */
    margin: auto 0 0 0;
    vertical-align: bottom;
}
.work_text{
    margin: 0 8%;
    width: 50%;
    text-align: left;
}
img{
    margin-top: 10px;
}
.skill_list{
    margin: 0 auto;
}
.skills{
    display: inline-block;
    width: 20%;
    margin: 10px 2%;
    vertical-align: top;
}
main{
    width: 70%;
    margin: 0 auto;
}
footer{
    bottom: 0;
}
#copyright{
    margin: 0;
    font-size: 12px;
    color: lightgray;
    text-align: center;
    background-color: black;
}
@media screen and ( max-width:800px ){
    body { 
        /* display: none; */
        margin: 0px;
        -webkit-text-size-adjust: 100%;
        background-color: #dedede;
    }
    header{
        position: fixed;
        z-index: 100;
        margin: 0 auto;
        display: flex;
        background-color: peru;
        justify-content: center;
        align-items: center;/* 縦位置の調整 */
    }
    #cover{
        margin-top: 68px;
        display: flex;
        justify-content: center;
        align-items: baseline;
        background-image: url(pictures/yama.png);
        height: calc(100vh - 68px);
        background-size: cover;
        background-position: center;
    }
    #cover h1{
        margin-top: 10%;
    }
    nav{
        width: 100%;
    }
    ul{
        list-style: none;
        padding: 0;
    }
    #header_list{
        font-size: large;
        display: flex;
        justify-content: center;
        margin: 0 0;
    }
    .list_items{
        padding: 10px 3%;
    }
    .list_items a{
        text-decoration: none;
    }
    a:link,a:visited{
        color: black;
    }
    section{
        margin: 0 auto;
    }
    table {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
        font-size: 13pt;
        text-align: left;
    }
    .core{
        padding: 20px 20px;
        text-align: center;
    }
    h2{
        text-align: center;
        font-size: 30pt;
        display: flex;
        align-items: center;/* 縦位置の調整 */
        margin-top: 50px;
    }
    
    h2::before,h2::after {
        content: '';
        flex-grow: 1;/* 余白を分け与える */
        height: 5px;
        background: green;
    }
    
    h2::before {
        margin-right: 2%;
    }
    
    h2::after {
        margin-left: 2%;
    }
    
    td{
        padding-left: 30px;
    }
    tr{
        padding: 10px 10px;
    }
    .skill_list{
        margin: 0 auto;
    }
    .skills{
        display: flex;
        flex-flow: column;
        width: 100%;
        margin: 10px 2%;
        vertical-align: top;
    }
    .skills img{
        width: 64px;
        align-items: flex-start;
        margin: 0 auto  ;
    }
    .work_headline{
        display: contents;
    }
    .work_content{
        display: flex;
        flex-flow: column;
        margin-bottom: 20px;
        align-items: flex-start; 
    }
    .work_content img{
        margin:5px auto;
    }
    .work_link{
        width: 100%;
        text-align: right;
    }
    .work_content p:not(.work_link){
        margin: 0 auto;
        text-align: center;
    }
    .work_content h3{
        margin: 0 auto;
        text-align: center;
    }
    .work_text{
        /* width: 90%;
        text-align: center;
        margin: 0 auto; */
        display: contents;
    }
    main{
        width: 100%;
        margin: 0 auto;
    }
    footer{
        bottom: 0;
    }
}