body { 
    margin: 0px;
    -webkit-text-size-adjust: 100%;
}
header{
    width: 100%;
    padding: 5px 0px;
    margin: 0 auto;
    display: flex;
    background-color: cyan;
    justify-content: space-between;
}
header h1{
    margin: 10px 0;
    padding: 0 30px;
    font-size: 35pt;
}
ul{
    list-style: none;
}
#header_list{
    font-size: large;
    display: flex;
    align-items: right;
}
.list_items{
    padding: 10px 30px;
}
section{
    margin: 0 auto;
}
table {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    font-size: 16pt;
    text-align: left;
}
.core{
    padding: 20px 20px;
    text-align: center;
}
h2{
    text-align: center;
    font-size: 30pt;
}

td{
    padding-left: 30px;
}
tr{
    padding: 10px 10px;
}
.work_content{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    align-items: flex-start; 
}
.work_text{
    margin: 0 20px;
    width: 40%;
    text-align: left;
}
img{
    margin-top: 10px;
}
