body { 
    margin: 0px;
    -webkit-text-size-adjust: 100%;
    background-color: white;
}
main{
    margin: 0 5%;
}
#about .a{
    width: 200px;
}
#about .b{
    width: 500px;
}
h5{
    margin: 1em 2ch;
}
p{
    margin: 0.5em 0;
}
b{
    color: red;
}
#sub_footer{
    border-top: 1px solid #000;
    display: flex;
}
#lastupdate{
    margin-right: 0;
    margin-left: auto;
}
#copyright{
    margin: 0;
    font-size: 12px;
    color: lightgray;
    text-align: center;
    background-color: black;
}
#tomain{
    margin: auto 0;
}
@media screen and ( min-width:402px ) {
    .null{
        display: none;
    }
}
table{
    border-collapse: collapse;
}
th, td{
    border: 1px solid #000;
    padding: 0.5em;
}
img {
    border: #000 1px solid;
    margin: 0.5em 0;
}
.red{
    font-weight: bold;
}